body{
	color:#777;
}


.top-space{
	margin-top: 20px;
}
.top-space-10{
	margin-top:10px;
}
.btn-top-space{
    margin-top: 20px;
}
#logo-img{
	width:100px;
	height:100px;
	border-radius: 50%;
}
.company-details{
	font-family: "Century Gothic";
}
.small-grey-text{
	font-size:12px;
	color: #999;
}

.left-gap-20{
	margin-left:20px;
}

.left-padding-55{
	padding-left:55px;
}